@main-color:#fd8b8c;
@bg-color:#ececec;
@element-bgcolor:rgba(255, 255, 255, 0.7);
@mobile: ~"only screen and (max-width: 768px)";

*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color: @bg-color;
  position: relative;
  overflow-x: hidden;
  font-family: Helvetica Neue, Roboto, Arial, sans-serif;
  .veil{
    display: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .scrollup{
    background-color: @main-color;
    border-radius: 50%;
    position: fixed;
    right: 0.5em;
    bottom: 2em;
    width: 3em;
    height: 3em;
    z-index: 1;
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    &:after{
      content: '';
      border-bottom: white 1.5em solid;
      border-right: rgba(0, 0, 0, 0) 0.8em solid;
      border-left: rgba(0, 0, 0, 0) 0.8em solid;
      box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}
p, h3{
  line-height: 1.8em;
}
p{
  font-weight: 200;
}
.LRPadding{
  padding: 0em 3em;
  @media @mobile{
    padding: 0em 1em;
  }
}
.mobile-menu{
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 100%;
  z-index: 1;
  ul{
    padding: 0;
    li{
      list-style-type: none;
      color: @main-color;
      padding: 1em;
      cursor: pointer;
      transition: 0.5s;
      &.active{
        background-color: @main-color;
        color: white;
      }
      &:hover{
        .active;
      }
    }
  }
}
.header{
  .LRPadding;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .logo{
    display: inline-block;
    height: 3em;
    margin: 0.5em 0em;
    img{
      height: 100%;
    }
  }
  .menu{
    display: inline-block;
    ul{
      li{
        list-style-type: none;
        float: left;
        color: @main-color;
        padding: 1em;
        cursor: pointer;
        transition: 0.5s;
        position: relative;
        &::after{
          background-color: @main-color;
          content: '';
          position: absolute;
          width: 0%;
          height: 0%;
          display: block;
          top: 50%;
          right: 0;
          bottom: 0;
          left: 50%;
          transition: 0.5s;
          z-index: -1;
        }
        &.active{
          z-index: 0;
          color: white;
          &::after{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
        &:active{
          .active;
        }
      }
    }
    .mobile-menu-button{
      display: none;
      padding: 0.5em;
      transition: 0.5s;
      span{
        background-color: @main-color;
        height: 2px;
        width: 22px;
        margin-bottom: 5px;
        display: block;
        transition: 0.5s;
        &:nth-child(3){
          margin-bottom: 0px;
        }
      }
      &:hover{
        span{
          background-color: white;
        }
        background-color: @main-color;
      }
    }
  }
  @media @mobile{
    align-items: center;
    .menu{
      ul{
        display: none;
      }
      .mobile-menu-button{
        display: block;
      }
    }
  }
}
.content{
  /*home.html*/
  .surface{
    width: 100%;
    position: relative;
    .blurry{
      position: absolute;
      opacity: 0;
    }
    img{
      width: 100%;
    }
    .solgan{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      div{
        background-color: @element-bgcolor;
        color: @main-color;
        text-align: center;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 5px;
        padding: 1em;
        p{
          font-weight: 800;
        }
      }
    }
  }
  .advantage, .recent{
    .title{
      padding: 1em 0em;
      width: 100%;
      display: flex;
      justify-content: center;
      h2{
        width: auto;
        height: 3em;
        line-height: 3em;
        color: @main-color;
        position: relative;
        &:before, &:after{
          //display: inline-block;
          content: '';
          top:30px;
          width: 5em;
          border-top: @main-color 1px solid;
          position: absolute;
        }
        &:before{
          left: -120px;
        }
        &:after{
          right: -120px;
        }
      }
    }
  }
  .advantage{
    .LRPadding;
    width: 100%;
    .special{
      padding: 3em 0em;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .left, .right{
        text-align: center;
        width: 30%;
        img{
          width: 3em;
          height: 3em;
        }
        h3{
          height: 3em;
          line-height: 3em;
        }
        @media @mobile{
          width: 70%;
          margin-bottom: 5em;
        }
      }
    }
  }
  .recent{
    .LRPadding;
    width: 100%;
    .post{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .block{
        width: 45%;
        background-color: @element-bgcolor;
        padding: 2em;
        margin-bottom: 1em;
        @media @mobile{
          width: 100%;
        }
      }
    }
  }

  /*aspect.html*/
  .aspect{
    display: flex;
    justify-content: space-around;
    .white, .black{
      width: 50%;
      height: 500px;
      padding: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .white{
      background-color: white;
      color: @main-color;

    }
    .black{
      background-color: #c26868;
      color: white;
    }
  }

  /*aboutUs*/
  .aboutus{
    display: flex;
    justify-content: space-around;
    .LRPadding;
    .personal_info{
      width: 50%;
      text-align: center;
      padding: 3em 1em;
      img{
        width: 10em;
        height: 10em;
        border-radius: 50%;
      }
      .info{
        padding: 2em;
        h2{
          line-height: 2em;
        }
        p{
          font-weight: 200;
        }
      }
    }
  }
}
.footer{
  background-color: @main-color;
  color: white;
  a{
    color: inherit;
  }
  .up{
    //padding: 1em 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .logo{
      height: 5em;
      img{
        height: 100%;
      }
    }
    .partners, .about, .contact{
      text-align: center;
      margin: 1em;
      a{
        text-decoration: none;
      }
      h2{
        border-bottom: white 1px solid;
      }
    }
  }
  .copyright{
    padding: 1em;
    text-align: center;
  }



}
/*effect*/
.insertup{
  position: relative;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
  opacity: 0;
  transition: 0.5s;
  &.insert{
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
