@main-color: #fd8b8c;
@bg-color: #ececec;
@element-bgcolor: rgba(255, 255, 255, 0.7);
@mobile: ~"only screen and (max-width: 768px)";
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: @bg-color;
  position: relative;
  overflow-x: hidden;
  font-family: Helvetica Neue, Roboto, Arial, sans-serif;
  .veil {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .scrollup {
    background-color: @main-color;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    bottom: 2em;
    width: 3em;
    height: 3em;
    z-index: 1;
    opacity: 0.5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    &:after {
      content: '';
      border-bottom: white 1.5em solid;
      border-right: rgba(0, 0, 0, 0) 0.8em solid;
      border-left: rgba(0, 0, 0, 0) 0.8em solid;
      box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}
h3,
p {
  line-height: 1.8em;
}
p {
  font-weight: 200;
}
.LRPadding {
  padding: 0 10%;
}
.title {
  padding: 1em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  h2 {
    width: auto;
    height: 3em;
    line-height: 3em;
    color: @main-color;
    position: relative;
    &:after,
    &:before {
      //display: inline-block;
      content: '';
      top: 30px;
      width: 5em;
      border-top: @main-color 1px solid;
      position: absolute;
    }
    &:before {
      left: -120px;
    }
    &:after {
      right: -120px;
    }
  }
}
.mobile-menu {
  width: 50%;
  height: 100%;
  background-color: @bg-color;
  position: absolute;
  left: 100%;
  z-index: 100;
  opacity: 0;
  transition: 0.5s;
  .title{
    color: @main-color;
    padding: 1.3em;
    margin-right: 20%;
    transition: 0.5s;
    margin-right: 3em;
    display: inline-block;
    border-bottom: @main-color 1px solid;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      color: @main-color;
      padding: 1.3em;
      cursor: pointer;
      transition: 0.5s;
      margin-right: 20%;
      &.active {
        background-color: @main-color;
        color: white;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          right: -13%;
          width: 1em;
          height: 1em;
          //background-color: @main-color;
          border-top: rgba(0,0,0,0) 0.5em solid;
          border-bottom: rgba(0,0,0,0) 0.5em solid;
          border-right: @main-color 1em solid;
          box-sizing: border-box;
          top: 0;
          bottom: 0;
          margin: auto 0;
        }
      }
      &:hover {
        .active;
      }
    }
  }
}
.header {
  .LRPadding;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .logo {
    display: inline-block;
    height: 3em;
    margin: 0.5em 0;
    img {
      height: 100%;
    }
  }
  .menu {
    display: inline-block;
    ul {
      li {
        list-style-type: none;
        float: left;
        color: @main-color;
        padding: 1em;
        cursor: pointer;
        transition: 0.5s;
        position: relative;
        &::after {
          background-color: @main-color;
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          display: block;
          top: 50%;
          right: 0;
          bottom: 0;
          left: 50%;
          transition: 0.5s;
          z-index: -1;
        }
        &.active {
          z-index: 0;
          color: white;
          &::after {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
        &:active {
          .active;
        }
      }
    }
    .mobile-menu-button {
      display: none;
      transition: all 0.3s;
      background-color: rgba(0,0,0,0);
      position: relative;
      z-index: 100;
      height: 3em;
      width: 3em;
      .bar {
        background-color: @main-color;
        height: 3px;
        width: 2em;
        margin: auto;
        display: block;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &:before, &:after {
          background-color: @main-color;
          height: 3px;
          width: 2em;
          margin-bottom: 5px;
          display: block;
          transition: all 0.3s;
          content: '';
          position: absolute;
          transition-property: top, transform;
          -moz-transition-property: top, transform;
          -webkit-transition-property: top, transform;
        }
      }
      &.effect{
        .bar{
          &:before, &:after{
            transition-delay: 0s,0.3s;
          }
          &:before{
            top: -10px;
          }
          &:after{
            top: 10px;
          }
        }
      }

      &.active{
        .bar{
          background-color: rgba(0,0,0,0);
          &:before, &:after{
            top: 0;
            transition-delay: 0s,0.3s;
          }
          &:before{
            transform: rotate(45deg);
          }
          &:after{
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  @media @mobile {
    align-items: center;
    .menu {
      ul {
        display: none;
      }
      .mobile-menu-button {
        display: block;
      }
    }
  }
}
.content {
  /*home.html*/
  .surface {
    width: 100%;
    position: relative;
    .blurry {
      position: absolute;
      opacity: 0;
    }
    img {
      width: 100%;
    }
    .solgan {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        background-color: @element-bgcolor;
        color: @main-color;
        text-align: center;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 5px;
        padding: 1em;
        p {
          font-weight: 800;
        }
      }
    }
  }
  .advantage,
  .recent {
    .LRPadding;
    width: 100%;
  }
  .advantage {
    .special {
      padding: 3em 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .left,
      .right {
        text-align: center;
        width: 30%;
        img {
          width: 3em;
          height: 3em;
        }
        h3 {
          height: 3em;
          line-height: 3em;
        }
        @media @mobile {
          width: 70%;
          margin-bottom: 5em;
        }
      }
    }
  }
  .recent {
    .post {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .block {
        width: 45%;
        background-color: @element-bgcolor;
        padding: 2em;
        margin-bottom: 1em;
        @media @mobile {
          width: 100%;
        }
      }
    }
  }
  /*anonymous.html*/
  .anonymous {
    .bigimage{
      width: 100%;
      img{
        width: 100%;
      }
    }

    width: 100%;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .explanation {
      .LRPadding;
      .example {
        font-size: 0.8em;
        font-weight: 100;
      }
    }
    .input {
      text-align: center;
      width: 100%;
      textarea {
        margin: 1em auto;
        display: block;
        border: @main-color 1px solid;
        resize: none;
        @media @mobile {
          width: 80%;
        }
      }
      .send {
        display: inline-block;
        background-color: @main-color;
        border-width: 0;
        color: white;
        padding: 0.5em;
        cursor: pointer;
      }
    }
  }
  /*aspect.html*/
  .aspect {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .WBblock {
      width: 100%;
      height: 30em;
      display: flex;
      justify-content: center;
      align-items: center;
      .b,
      .w {
        width: 50%;
        height: 100%;
        font-size: 5em;
      }
      .b {
        background-color: #c26868;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .w {
        background-color: white;
        color: @main-color;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .about {
      padding: 3em;
      width: 60%;
      p {
        padding-bottom: 3em;
      }
    }
    .black,
    .white {
      width: 50%;
      height: 500px;
      padding: 0 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .white {
      background-color: white;
      color: @main-color;
    }
    .black {
      background-color: #c26868;
      color: white;
    }
    @media @mobile {
      .WBblock {
        display: none;
      }
      .about {
        width: auto;
      }
      .black,
      .white {
        width: 100%;
      }
    }
  }
  /*aboutUs*/
  .aboutus {
    display: flex;
    justify-content: space-around;
    .LRPadding;
    .personal_info {
      width: 50%;
      text-align: center;
      padding: 3em 1em;
      img {
        width: 10em;
        height: 10em;
      }
      .info {
        padding: 2em;
        h2 {
          line-height: 2em;
        }
        p {
          font-weight: 200;
        }
      }
    }
    @media @mobile {
      flex-wrap: wrap;
      .personal_info {
        width: 100%;
      }
    }
  }
}
/*instruction之我應該沒放錯位置吧?!*/
.instruction {
  display: flex;
  justify-content: center;
  .slider {
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: @bg-color;
    flex-wrap: wrap;
    .slide {
      text-align: center;
      display: none;
      width: 100%;
      .slide-div {
        position: relative;
        //height: 400px;
        width: 50%;
        margin: 0 auto;
        @media @mobile {
          width: 100%;
        }
        .slide-img {
          width:100%;
        }
        .overlay{
          display:none;
          background:rgba(0, 0, 0, .5);
          color:#fff;
          position:absolute;
          bottom:0;
          left:0;
          z-index:100;
          widows: 100%;
          width: 100%;
          padding:10px;
          box-sizing:border-box;
          pointer-events:none;
          fontweight: 100;
          h3{
            //font-weight: 100;
            margin:0;
            padding:0;
          }
          p{
            font-weight: 100;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .active-slide {
      display: block;
    }
    .slide-nav {
      text-align: center;
      padding-top: 10px;
      .arrow {
        display: inline;
        font-size: 0;
        width: 20px;
        height: 20px;
      }
      .dots {
        list-style: none;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 0;
        li {
          color: @main-color;
          font-size: 30px;
          padding-left: 5px;
          padding-right: 5px;
          display: inline;
        }
        .active-dot {
          color: #acacac;
        }
      }
    }
  }
}
/*nooks.html*/
.grid {
  .grid-thing {
    width:350px;
    padding: 2em;
    margin: 2em;
    background-color: @element-bgcolor;
    border-color: @main-color;
    border-style: double;
  }
}
.footer {
  background-color: @main-color;
  color: white;
  a {
    color: inherit;
  }
  .up {
    //padding: 1em 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .logo {
      height: 5em;
      img {
        height: 100%;
      }
    }
    .about,
    .contact,
    .partners {
      text-align: center;
      margin: 1em;
      a {
        text-decoration: none;
      }
      h2 {
        border-bottom: white 1px solid;
      }
    }
  }
  .copyright {
    padding: 1em;
    text-align: center;
  }
}
/*effect*/
.insertup {
  position: relative;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
  opacity: 0;
  transition: 0.5s;
}
.insertleft {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}
.insertright {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}
.insertleft,
.insertright,
.insertup {
  &.insert {
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
.blurryInMain{
  transition: .3s;
  text-shadow: 0px 0px 2em @main-color;
  color: rgba(0,0,0,0) !important;
  &.In{
    color: @main-color !important;
    text-shadow: 0px 0px 0px @main-color;
  }
}
