@main-color:#fd8b8c;
@bg-color:#ececec;
@element-bgcolor:rgba(255, 255, 255, 0.7);

*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color: @bg-color
}
p, h3{
  line-height: 1.8em;
}
p{
  font-weight: 200;
}
.header{
  background-color: @element-bgcolor;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .logo{
    display: inline-block;
    height: 3em;
    margin: 0.5em 3em;
    img{
      height: 100%;

    }
  }
  .menu{
    display: inline-block;
    ul{
      margin-right: 3em;
      li{
        //display: inline-block;
        list-style-type: none;
        float: left;
        color: @main-color;
        padding: 1em;
        cursor: pointer;
        transition: 0.5s;
        &.active{
          background-color: @main-color;
          color: white;
        }
        &:hover{
          .active;
        }
      }
    }
  }
}
.content{
  /*home*/
  .surface{
    width: 100%;
    position: relative;
    img{
      width: 100%;
    }
    .solgan{
      position: absolute;
      text-align: center;
      width: 100%;
      top: 50%;
      left: 0;
      display: flex;
      justify-content: center;
      div{
        background-color: @element-bgcolor;
        color: @main-color;
        font-size: 1em;
        padding: 2em 3em;
        font-weight: 800;
        letter-spacing: 5px;
        width: auto;
      }
    }
  }
  .advantage, .recent{
    .title{
      padding: 1em 0em;
      width: 100%;
      display: flex;
      justify-content: center;
      h2{
        width: auto;
        height: 3em;
        line-height: 3em;
        color: @main-color;
        &:before, &:after{
          display: inline-block;
          content: '';
          width: 5em;
          border-top: @main-color 1px solid;
          line-height: 3em;
          height: 0.3em;
        }
      }
    }
  }
  .advantage{
    padding: 0em 3em;
    width: 100%;
    .special{
      padding: 3em 0em;
      display: flex;
      justify-content: space-around;
      .left, .right{
        text-align: center;
        width: 30%;
        img{
          width: 3em;
          height: 3em;
        }
        h3{
          height: 3em;
          line-height: 3em;
        }
      }
    }
  }
  .recent{
    padding: 0em 3em;
    width: 100%;
    .post{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .block{
        width: 45%;
        background-color: @element-bgcolor;
        padding: 2em;
        margin-bottom: 1em;
      }
    }
  }
}
