<div class="aboutus">
  <div class="personal_info">
    <div class="image">
      <img src="images/personal_LGuo.png" alt="" />
    </div>
    <div class="info">
      <h2>L.Guo</h2>
      <p>
        就讀於北科資工三年級，身穿母豬教教主obov授權的肥宅T，充滿母豬粉紅色，由於課堂需要利用此色代表網站主色，外觀為一好用的交友網站，實則唯一約戰網，如母豬教教義：母豬母豬，夜裡哭哭，幹0糧母豬滾喇ob'_'ov。
      </p>
    </div>
  </div>
  <div class="personal_info">
    <div class="image">
      <img src="images/personal_OAO.jpeg" alt="" />
    </div>
    <div class="info">
      <h2>OAO</h2>
      <p>
        紹安OWO
      </p>
    </div>
  </div>
</div>
