<div class="anonymous">
  <div class="bigimage">
    <img src="images/anonymous.png" alt="" />
  </div>
  <div class="explanation">
    <div class="title">
      <h2>貼文請註明</h2>
    </div>
    <p>
      【男徵女】【女徵男】【男徵男】【女徵女】...等相關關鍵字方便閱讀。
      <br>
      <br>
    </p>
    <div class="title">
      <h2>範例貼文</h2>
    </div>
    <p class="example">
      【女徵男】
      <br>我相信緣分 更需要條件
      <br>外貌雖然不是重點 但一定也佔了第一印象
      <br>
      <br>本人長得雖不算什麼天菜 但也應該會讓你有個極好印象
      <br>(若想看的話 也可以馬上附照片囉))
      <br>個性上也是個活潑陽光 開朗健談的人
      <br>平常喜歡到公園跑跑步
      <br>
      <br>如果有興趣的話 就來信吧
      <br>喜歡也不勉強 也不會持續騷擾
    </p>
    <br>
    <br> 匿名信： <a href="http://www.contactify.com/">https://www.contactify.com/</a> (申請完匿名信箱記得開通)
  </div>
  <div class="input">
    <textarea name="name" rows="8" cols="40"></textarea>
    <div class="send">
      匿名發文
    </div>
  </div>
</div>
