<div class="aspect">
  <div class="WBblock">
    <div class="b insertleft">
      黑
    </div>
    <div class="w insertright">
      白
    </div>
  </div>
  <div class="about">
    <div class="title">
      <h2>網站的黑白兩面</h2>
    </div>
    <p>
      一個網站總是有她存在的意義，到底這個網站帶來的是怎麼樣的功能，北科小角落在這點扮演了兩方面的角色，究竟是好處還是壞處，以下細細的為您解釋。
    </p>
  </div>
  <div class="white insertleft">
    <h2>人際關係</h2>
    <p>
      大學人際關係頗為重要，不像以前國中高中這樣的約束在一個班級，在大學更加自由，然而也就少了同班的人際來往機會，所以此網站提供北科大學生一個交朋友的機會，擴張自己的交友圈，以後出社會沒煩惱！
    </p>
  </div>
  <div class="black insertright">
    <h2>深入交流</h2>
    <p>
      身為一北科大學生，正值情竇初開、血氣方剛的年紀，難免會有需求的時候，現今社會上也流行著這解決年輕人需求的工具、網站存在，在此設計一個專屬於北科學生，與其他商家(北科代打系統、NTUT FOOD)合作，不只是單純的相約了事，而是與北科生活息息相關，體驗那熟悉又溫暖般的小角落。
    </p>
  </div>
</div>
