<div class="surface">
  <img class="blurry" src="images/surface_blurry.png" alt="" />
    <img src="images/surface.png" alt="" />
    <div class="solgan">
        <div class="">
          <p class="oao">ＯＡＯ</p>
          <p>NTUT NOOK</p>
          <p>北科人的情慾管道</p>
        </div>
    </div>
</div>
<div class="advantage">
    <div class="title">
        <h2>網 站 特 點</h2>
    </div>
    <div class="special">
        <div class="left">
            <img src="images/mask.png" />
            <h3>匿名</h3>
            <p>
                小角落的匿名制，創造一層神秘的面紗，朦朧且美麗，給您的交友空間帶來更多的愉悅
            </p>
        </div>
        <div class="right">
            <img src="images/rocket.png" />
            <h3>方便</h3>
            <p>
                簡單易懂又快速方便的介面，一目了然，了解我們想帶給你們的服務。
            </p>
        </div>
    </div>
</div>
<div class="recent">
    <div class="title">
        <h2>最 近 貼 文</h2>
    </div>
    <div class="post">
        <div class="block insertup">
            <h3>#24</h3>
            <p>
                25y/172/58/微腹肌 ‪#‎濃眉大眼溫柔系極稀有暖男‬
                <br> 想被當成公主捧在手心上呵護嗎？ 想被當成女王對人頤指氣使嗎？
                <br> 誠實/體貼/尊重/信任/多變 無不良前科/嗜好/癖好(事先討論好的不算) 因為工作，所以休假偶爾會出去走走/看電影 有養一隻毛小孩(貓) 所以也會帶他出去溜一溜
                <br> 以上皆是 ‪#‎誠實作答‬ 如果 ‪#‎妳‬ 覺得可以相信我 覺得可以聊看看 歡迎來信： 1.詢問 2.給張妳最有自信的照片 3.附上怎麼聯絡到妳
            </p>
        </div>
        <div class="block insertup">
            <h3>#24</h3>
            <p>
                25y/172/58/微腹肌 ‪#‎濃眉大眼溫柔系極稀有暖男‬
                <br> 想被當成公主捧在手心上呵護嗎？ 想被當成女王對人頤指氣使嗎？
                <br> 誠實/體貼/尊重/信任/多變 無不良前科/嗜好/癖好(事先討論好的不算) 因為工作，所以休假偶爾會出去走走/看電影 有養一隻毛小孩(貓) 所以也會帶他出去溜一溜
                <br> 以上皆是 ‪#‎誠實作答‬ 如果 ‪#‎妳‬ 覺得可以相信我 覺得可以聊看看 歡迎來信： 1.詢問 2.給張妳最有自信的照片 3.附上怎麼聯絡到妳
            </p>
        </div>
        <div class="block insertup">
            <h3>#24</h3>
            <p>
                25y/172/58/微腹肌 ‪#‎濃眉大眼溫柔系極稀有暖男‬
                <br> 想被當成公主捧在手心上呵護嗎？ 想被當成女王對人頤指氣使嗎？
                <br> 誠實/體貼/尊重/信任/多變 無不良前科/嗜好/癖好(事先討論好的不算) 因為工作，所以休假偶爾會出去走走/看電影 有養一隻毛小孩(貓) 所以也會帶他出去溜一溜
                <br> 以上皆是 ‪#‎誠實作答‬ 如果 ‪#‎妳‬ 覺得可以相信我 覺得可以聊看看 歡迎來信： 1.詢問 2.給張妳最有自信的照片 3.附上怎麼聯絡到妳
            </p>
        </div>
        <div class="block insertup">
            <h3>#24</h3>
            <p>
                25y/172/58/微腹肌 ‪#‎濃眉大眼溫柔系極稀有暖男‬
                <br> 想被當成公主捧在手心上呵護嗎？ 想被當成女王對人頤指氣使嗎？
                <br> 誠實/體貼/尊重/信任/多變 無不良前科/嗜好/癖好(事先討論好的不算) 因為工作，所以休假偶爾會出去走走/看電影 有養一隻毛小孩(貓) 所以也會帶他出去溜一溜
                <br> 以上皆是 ‪#‎誠實作答‬ 如果 ‪#‎妳‬ 覺得可以相信我 覺得可以聊看看 歡迎來信： 1.詢問 2.給張妳最有自信的照片 3.附上怎麼聯絡到妳
            </p>
        </div>
    </div>
</div>
