<div class="instruction">
  <div class="slider">
    <div class="slide active-slide">
      <div class="slide-div" data-title="匿名發文" data-description="測試測試">
        <img class="slide-img" src="images/intro.jpg" alt="" />
      </div>
    </div>
    <div class="slide">
      <img class="slide-img" src="images/intro2.jpg" alt="" />
    </div>
    <div class="slide">
      <img class="slide-img" src="images/intro.jpg" alt="" />
    </div>
    <div class="slide">
      <img class="slide-img" src="images/intro2.jpg" alt="" />
    </div>
    <div class="slide">
      <img class="slide-img" src="images/intro.jpg" alt="" />
    </div>
    <div class="slide-nav">
      <a href="javascript: void(0)" class="arrow-prev"><img class="arrow" src="images/arrow-prev.png" alt="" /></a>
      <ul class="dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a href="javascript: void(0)" class="arrow-next"><img class="arrow" src="images/arrow-next.png" alt="" /></a>
    </div>
  </div>
</div>
