<div class="instruction">
  <div class="title">
    <h2>尋歡流程</h2>
  </div>
  <div class="slider">
    <div class="slide active-slide">
      <div class="slide-div" data-title="匿名發文" data-description="發送自己的貼文┌( ՞ ڡ ՞ )┐">
        <img class="slide-img" src="images/step1.png" alt="" />
      </div>
    </div>
    <div class="slide">
      <div class="slide-div" data-title="小角落們" data-description="尋找心儀的對象໒( • ͜ʖ • )७">
        <img class="slide-img" src="images/nooks.png" alt="" />
      </div>
    </div>
    <div class="slide">
      <div class="slide-div" data-title="互相聯絡" data-description="與有興趣的人聯絡୧། ☉ ౪ ☉ །୨">
        <img class="slide-img" src="images/contact.png" alt="" />
      </div>
    </div>
    <div class="slide">
      <div class="slide-div" data-title="相約地點" data-description="看上眼就來見面吧୧[ ˵ ͡ᵔ ͜ʟ ͡ᵔ ˵ ]୨">
        <img class="slide-img" src="images/meet.png" alt="" />
      </div>
    </div>
    <div class="slide">
      <div class="slide-div" data-title="相談甚歡" data-description="無話不談ᕕ( ᐛ )ᕗ ~ ♪ ~ ლ(´ڡ`ლ)">
        <img class="slide-img" src="images/chat.png" alt="" />
      </div>
    </div>
    <div class="slide-image-nav">
      <a href="javascript: void(0)" class="arrow-prev"><img class="arrow" src="images/arrow-prev.png" alt="" /></a>
      <a href="javascript: void(0)" class="arrow-next"><img class="arrow" src="images/arrow-next.png" alt="" /></a>
    </div>
    <div class="slide-nav">
      <!-- <a href="javascript: void(0)" class="arrow-prev"><img class="arrow" src="images/arrow-prev.png" alt="" /></a> -->
      <ul class="dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <!-- <a href="javascript: void(0)" class="arrow-next"><img class="arrow" src="images/arrow-next.png" alt="" /></a> -->
    </div>
  </div>
  <div class="title">
    <h2>合作廠商資訊</h2>
  </div>
  <div class="company">
    <div class="com">

      <div class="logo hw">
        <a href="http://herrangus.github.io/NTUT-Hw-Plus/" target="_blank">
          <img  src="http://herrangus.github.io/NTUT-Hw-Plus/images/logo.png" alt="" />
        </a>
      </div>
      <h2>北科Hw+</h2>
      <div class="info">
        
        <p>
          <img src="images/ticket.png" alt="" />
          <br>即日起，只要1000積分
          <br>一日住宿卷，免費兌換
        </p>
      </div>
    </div>

    <div class="com">

      <div class="logo">
        <!-- <img src="" alt="" /> -->
      </div>
      <h2>NTUT FOOD</h2>
      <div class="info">
        <h3>餐廳資訊</h3>
        <p>
          <img src="images/maintain.png" alt="" />
          <br>尚未開放，敬請期待
        </p>
      </div>
    </div>
    <div class="com">

      <div class="logo">
        <a href="http://workforland.azurewebsites.net/wd/mid/index.php" target="_blank">
          <img  src="http://workforland.azurewebsites.net/wd/mid/img/logo.png" alt="" />
        </a>
      </div>
      <h2>北科I美食</h2>
      <div class="info">
        <h3>餐廳資訊</h3>
        <p>
          <img src="https://raw.githubusercontent.com/ntutdaniel/WD_MID_PROJECT/master/mid_project/img/M-2.jpg" alt="" />
          <br>AJC 大叔便當
          <br>大叔的雞肉採用台灣新鮮冷藏雞肉，
          <br>國內上市公司優良合格供應商，
          <br>點餐後店內現做供應，美味吃出。
        </p>
      </div>
    </div>
  </div>
</div>
